parameters:
	level: 7
	paths:
		- src
	scanDirectories:
		- phar:///source/virions/pmforms_dev-4.phar
		- phar:///source/virions/ScoreFactory_dev-5.phar
		- phar:///source/virions/libChunkLoader_dev-8.phar
	checkMissingIterableValueType: false
