includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 7
	checkExplicitMixed: true
	paths:
		- src
	scanDirectories:
		- phar:///pmforms.phar
		- phar://ScoreFactory.phar
		- phar://libChunkLoader.phar